<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>CetakCetekKiBOT</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <!-- partial:index.partial.html -->
  <section class="msger">
    <main class="msger-chat">
      <div class="msg left-msg">
        <div class="msg-img" style="background-image: url(static/img/petruk.png) "></div>

        <div class="msg-bubble">
          <div class="msg-info">
            <div class="msg-info-name">KiBOT</div>
          </div>

          <div class="msg-text">
            Halo, ada beban apa hari ini?
          </div>
        </div>
      </div>

    </main>

    <form class="msger-inputarea">
      <input type="text" class="msger-input" id="textInput" placeholder="Tulis jawaban disini...">
      <button type="submit" class="msger-send-btn">Kirim</button>
    </form>
  </section>
  <!-- partial -->
  <script src='https://use.fontawesome.com/releases/v5.0.13/js/all.js'></script>
  <script>

    const msgerForm = get(".msger-inputarea");
    const msgerInput = get(".msger-input");
    const msgerChat = get(".msger-chat");

    const BOT_IMG = "static/img/petruk.png";
    const PERSON_IMG = "static/img/pusyink.png";
    const BOT_NAME = "KiBOT";
    const PERSON_NAME = "Anda";

    msgerForm.addEventListener("submit", event => {
      event.preventDefault();

      const msgText = msgerInput.value;
      if (!msgText) return;

      appendMessage(PERSON_NAME, PERSON_IMG, "right", msgText);
      msgerInput.value = "";
      botResponse(msgText);
    });

    function appendMessage(name, img, side, text) {
      //   Simple solution for small apps
      const msgHTML = `
<div class="msg ${side}-msg">
  <div class="msg-img" style="background-image: url(${img})"></div>
  <div class="msg-bubble">
    <div class="msg-info">
      <div class="msg-info-name">${name}</div>
    </div>
    <div class="msg-text">${text}</div>
  </div>
</div>
`;

      msgerChat.insertAdjacentHTML("beforeend", msgHTML);
      msgerChat.scrollTop += 500;
    }

    function botResponse(rawText) {        
        $.get("/get", { msg: rawText }).done(function (data){
            
            appendMessage(BOT_NAME, BOT_IMG, "left", data);
        });
    }


    // Utils
    function get(selector, root = document) {
      return root.querySelector(selector);
    }

  </script>

</body>

</html>